.container{
  background-image: url(../imatges/supermercat.jpg);
  background-size: cover;
  background-position: center;
  padding:20px;
  border-radius: 10px;
  margin-top: 10px;
}
.entry{
  color:aliceblue;
}
